@use "../../../assets/styles/variables.scss" as *;
@use "../../../assets/styles/mixins.scss" as *;

section {
  @include commonSectionStyles();
}

.skills-content {
  @include commonContentStyle();
  display: grid;
  grid-template-areas:
    "content-left headline-box"
    "content-left text-box";
  grid-template-columns: auto 1fr;
  row-gap: 20px;
  column-gap: 115px;
  align-items: center;

  > img {
    position: absolute;
    left: -565px;
    bottom: -560px;
    width: 870px;
  }
}

.content-left {
  z-index: 3;
  grid-area: content-left;
  width: clamp(450px, 252.2px + 21.5vw, 665px);
  height: auto;
  margin-left: clamp(0px, -40px + 12.5vw, 200px);

  @media screen and (max-width: $breakpoint-width-920) {
    width: clamp(310px, 120.6667px + 59.1667vw, 665px);
  }
}

.skills-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: clamp(0px, -46.9333px + 14.6667vw, 88px);
  // overflow-x: clip;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  row-gap: clamp(35px, 6.7333px + 8.8333vw, 88px);
}

.skill-item {
  @include dFlexAllCenter($g: 10px);
  flex-direction: column;
  cursor: pointer;
  opacity: 0;
  transform: translate(-100%, 100%);

  > img {
    width: clamp(48px, 41.6px + 2vw, 60px);
    transition: transform 0.1s ease-out;
  }

  > p {
    text-align: center;
    @include fontSizeWeightColor($si: 16px, $we: 700);
  }

  &:hover {
    > img {
      transform: translateY(-10px);
    }
  }

  // @keyframes slideInDiagonal {
  //   0% {
  //     opacity: 0;
  //     transform: translate(-100%, 100%);
  //   }
  //   20% {
  //     opacity: 0.1;
  //   }

  //   40% {
  //     opacity: 0.2;
  //   }

  //   60% {
  //     opacity: 0.3;
  //   }

  //   100% {
  //     opacity: 1;
  //     transform: translate(0, 0);
  //   }
  // }
}

section.animate {
  .skill-item {
    // Rufe das allgemeine Animations-Mixin auf und gib die Startposition mit
    @include applySlideAnimation(translate(-100%, 100%));
    // Die animation-delay wird hier vom Angular-Template ([style.--animation-delay]) überschrieben
  }

  .headline-box-grid-item,
  .text-box-grid-item {
    // Rufe das allgemeine Animations-Mixin auf und gib die andere Startposition mit
    @include applySlideAnimation(translate(100%, -100%));
    // animation-delay wird hier standardmäßig von --animation-delay-about-me kommen
    // oder dem Fallback im Mixin
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    // Nutze die CSS-Variable, die von @mixin applySlideAnimation gesetzt wird
    transform: var(--animation-start-transform);
  }
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0); // Endposition ist immer 0,0
  }
}

.headline-box-grid-item {
  z-index: 3;
  grid-area: headline-box;
  height: 100%;
  display: grid;
  grid-template-areas:
    "headline placeholder "
    "headline vector";
  grid-template-columns: auto auto;
  gap: 20px;
  align-items: flex-end;
  justify-content: flex-end;
  opacity: 0;
  transform: translate(100%, -100%);
}

.h1-p {
  grid-area: headline;
  @include dFlexAllCenter($ai: flex-end, $g: 24px);
  flex-direction: column;
  justify-content: flex-end;
}

.h1-p > h1 {
  white-space: nowrap;
  @include fontSizeWeightColor(
    $si: clamp(45px, 36px + 2.8125vw, 90px),
    $we: 700
  );
}

.h1-p > h1.font-size-de {
  font-size: clamp(32px, 23.4px + 2.6875vw, 75px);
}

.h1-p > p {
  @include fontSizeWeightColor($si: 16px);
  text-align: right;
}

.purple-vector-grid-item {
  z-index: 3;
  grid-area: vector;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: translateY(-12px);
  height: 100%;
}

.purple-vektor {
  height: 4px;
  width: 158px;
  background-color: $primary-bg-purple;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.translate-up {
  transform: translateY(-25px);
}

.text-box-grid-item {
  grid-area: text-box;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  gap: 20px;
  opacity: 0;
  transform: translate(100%, -100%);
}

.text-content {
  @include dFlexAllCenter($ai: flex-end, $g: 24px);
  flex-direction: column;

  > p {
    @include fontSizeWeightColor($si: 16px);
  }

  > h2 {
    @include fontSizeWeightColor($si: 32px, $we: 700);
    white-space: nowrap;

    > span {
      white-space: nowrap;
      @include fontSizeWeightColor(
        $si: 32px,
        $we: 700,
        $co: $primary-bg-purple
      );
    }
  }

  > button {
    @include primaryButton(top, right);
  }
}

.placeholder-headline-box {
  grid-area: placeholder;
  width: 158px;
}

.placeholder-text-content {
  width: 158px;
  height: 100%;
}
