@use "../../../assets/styles/variables.scss" as *;
@use "../../../assets/styles/mixins.scss" as *;
@use "../../../assets/styles/animations.scss" as *;

section {
  @include commonSectionStyles();
  @include paddingTopMinWidthBreakpoint();

  @media screen and (min-width: $breakpoint-min-width-1921) {
    height: unset;
  }

  @media screen and (max-width: $breakboint-width-1250) {
    height: unset;
  }
}

.skills-content {
  @include commonContentStyle();
  display: grid;
  grid-template-areas:
    "content-left headline-box"
    "content-left text-box";
  grid-template-columns: auto 1fr;
  row-gap: 20px;
  column-gap: 20px;
  align-items: center;

  > img {
    position: absolute;
    left: -482px;
    bottom: -560px;
    width: 870px;

    @media screen and (max-height: $responsive-height-814) {
      left: -542px;
      bottom: -581px;
    }

    @media screen and (max-width: $breakpoint-width-920) {
      left: clamp(-704px, -811.8621px + 31.7241vw, -520px);
      bottom: clamp(-368px, -325.1724px + -4.6552vw, -341px);
      width: clamp(835px, 814.4828px + 6.0345vw, 870px);
    }
  }

  @media screen and (max-width: $breakboint-width-1250) {
    grid-template-areas:
      "headline-box"
      "content-left"
      "text-box";
    grid-template-columns: 1fr;
    gap: clamp(30px, 16.2366px + 4.3011vw, 70px);
  }
}

.content-left {
  z-index: 3;
  grid-area: content-left;
  width: clamp(490px, 163.5075px + 26.1194vw, 665px);
  height: auto;
  margin-left: clamp(96px, -19.6716px + 9.2537vw, 158px);

  @media screen and (max-width: $breakboint-width-1250) {
    margin: unset;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  @media screen and (max-width: 1000px) {
    justify-content: center;
  }
}

.skills-items-container {
  @include dFlexAllCenter($jc: flex-start);
  flex-wrap: wrap;
  gap: clamp(60px, 7.7612px + 4.1791vw, 88px);
  max-width: 100%;
  margin: 0 auto;

  @media screen and (max-height: $responsive-height-814) {
    gap: 50px;
  }

  @media screen and (max-width: $breakboint-width-1250) {
    max-width: 560px;
    margin-left: clamp(96px, -19.6716px + 9.2537vw, 158px);
    margin-right: unset;
  }

  @media screen and (max-width: 1000px) {
    justify-content: center;
    margin-left: unset;
  }

  @media screen and (max-width: $breakpoint-width-920) {
    width: clamp(310px, 54px + 80vw, 790px);
  }

  @media screen and (max-width: 680px) {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }
}

.skill-item-box {
  width: 90px;
}

.skill-item {
  @include dFlexAllCenter($g: 10px);
  flex-direction: column;
  cursor: pointer;
  opacity: 0;
  transform: translate(-100%, 100%);

  > img {
    width: clamp(48px, 41.6px + 2vw, 60px);
    transition: transform 0.1s ease-out;
    aspect-ratio: 1 / 1;

    @media screen and (max-height: $responsive-height-814) {
      width: 48px;
    }
  }

  > p {
    text-align: center;
    @include fontSizeWeightColor($si: 18px, $we: 700);
  }

  &:hover {
    > img {
      transform: translateY(-10px);
    }
  }
}

.headline-box-grid-item {
  z-index: 3;
  grid-area: headline-box;
  height: 100%;
  @include dFlexAllCenter($ai: flex-end, $jc: flex-end);
  opacity: 0;
  transform: translate(50%, -50%);

  @media screen and (max-width: $breakpoint-width-920) {
    width: 100%;
  }
}

.h1-box {
  @include dFlexAllCenter($ai: flex-end, $jc: flex-end, $g: 24px);
  flex-direction: column;
  width: 100%;
}

.headline-p-box {
  display: flex;
  gap: 20px;
  padding-right: 178px;

  @media screen and (max-width: $breakpoint-width-920) {
    padding-right: var(--padding-44-178);
  }

  > p {
    @include fontSizeWeightColor($si: 18px);
    text-align: right;
    padding-left: var(--padding-38);
  }
}

.headline-vector-box {
  display: flex;
  gap: 20px;

  > h1 {
    text-align: right;

    @include fontSizeWeightColor(
      $si: clamp(45px, 36px + 2.8125vw, 90px),
      $we: 700
    );
  }

  > h1.font-size-de {
    white-space: nowrap;
    font-size: clamp(32px, 23.4px + 2.6875vw, 75px);

    @media screen and (max-width: $breakpoint-width-920) {
      white-space: wrap;
      padding-left: var(--padding-38);
    }
  }
}

.purple-vector-grid-item {
  z-index: 3;
  @include dFlexAllCenter($jc: flex-start);
  width: 158px;

  @media screen and (max-width: $breakpoint-width-920) {
    width: clamp(24px, -47.4667px + 22.3333vw, 158px);
  }
}

.purple-vektor {
  width: 100%;
  height: 4px;
  background-color: $primary-bg-purple;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.text-box-grid-item {
  grid-area: text-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  opacity: 0;
  transform: translate(50%, -50%);
}

.button-box {
  padding-right: 178px;

  @media screen and (max-width: $breakpoint-width-920) {
    padding-right: var(--padding-44-178);
  }

  @media screen and (max-width: 640px) {
    padding-right: 0;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  > button {
    @include primaryButton(top, right);

    @media screen and (max-width: 640px) {
      @include primaryButton(top, center);
    }
  }
}

.text-content {
  @include dFlexAllCenter($ai: flex-end, $jc: flex-end, $g: 24px);
  flex-direction: column;
  width: 100%;
  padding-right: 178px;

  @media screen and (max-width: $breakpoint-width-920) {
    padding-right: var(--padding-44-178);
    padding-left: 15px;
  }
}

.h2-box {
  display: flex;
  gap: 20px;

  > h2 {
    @include fontSizeWeightColor($si: 32px, $we: 700);
    text-align: right;

    @media screen and (max-width: $breakpoint-width-920) {
      padding-left: var(--padding-38);
    }

    > span {
      white-space: nowrap;
      @include fontSizeWeightColor(
        $si: 32px,
        $we: 700,
        $co: $primary-bg-purple
      );

      @media screen and (max-width: $breakpoint-width-920) {
        white-space: wrap;
      }
    }
  }
}

.text-p-box {
  display: flex;
  gap: 20px;

  > p {
    @include fontSizeWeightColor($si: 18px);
    text-align: right;
    padding-left: 100px;

    @media screen and (max-width: 520px) {
      padding-left: unset;
    }
  }

  @media screen and (max-width: $breakpoint-width-920) {
    padding-left: var(--padding-38);
  }
}

.skill-item.animate {
  @include applySlideAnimation(translate(-100%, 100%));
}

.headline-box-grid-item.animate {
  @include applySlideAnimation(translate(50%, -50%));
}

.text-box-grid-item.animate {
  @include applySlideAnimation(translate(50%, -50%));
}
