<section>
    <div class="skills-content">

        <img src="../../../assets/img/background/GREEN-SHADOW-SKILLS.png" alt="">


        <div class="content-left">
            <div class="skills-container">
                <div *ngFor="let singleSkill of skillsdata.skillsBox" class="skill-item">
                    <img [src]="singleSkill.img"
                        [alt]="'MY_SKILLS.SKILL_ICON_ALT' | translate: { skillName: singleSkill.name }">
                    <p> {{ singleSkill.name }}</p>
                </div>
            </div>
        </div>

        <div class="content-right">
            <div class="h1-box">
                <h1 [ngClass]="{ 'font-size-de': activeLanguage === 'de' }">{{ 'MY_SKILLS.HEADLINE' | translate }}</h1>
                <p>{{ 'MY_SKILLS.DESCRIPTION_SKILLS' | translate }}</p>
            </div>

            <div class="purple-vector-grid-item">
                <div class="purple-vektor"></div>
            </div>

            <div class="text-box-grid-item">
                <div class="text-content">
                    <h2>
                        {{ 'MY_SKILLS.UNDERHEADLINE_PART_1' | translate }}
                        <span>{{ 'MY_SKILLS.UNDERHEADLINE_PART_2' | translate }}</span>?
                    </h2>

                    <p>{{ 'MY_SKILLS.DESCRIPTION_LEARNING_ENTHUSIASM' | translate }}</p>

                    <button>{{ 'MY_SKILLS.BUTTON' | translate }}</button>
                </div>
            </div>

            <div class="placeholder-box"></div>
        </div>


        <!-- <div class="content-right">

            <div class="h1-vector-box">
                <h1 [ngClass]="{ 'font-size-de': activeLanguage === 'de' }">{{ 'MY_SKILLS.HEADLINE' | translate }}</h1>
                <div class="purple-vektor">
                </div>
            </div>

            <div class="text-box">
                <div class="text-content">
                    <p>{{ 'MY_SKILLS.DESCRIPTION_SKILLS' | translate }}</p>

                    <h2> {{ 'MY_SKILLS.UNDERHEADLINE_PART_1' | translate }}
                        <span>{{ 'MY_SKILLS.UNDERHEADLINE_PART_2' | translate }}</span>?
                    </h2>

                    <p>{{ 'MY_SKILLS.DESCRIPTION_LEARNING_ENTHUSIASM' | translate }}</p>

                    <button>{{ 'MY_SKILLS.BUTTON' | translate }}</button>
                </div>

                <div class="placeholder-box"></div>
            </div>
        </div> -->
    </div>
</section>