<section appAnimateOnScroll>
    <div class="skills-content">

        <img src="../../../assets/img/background/GREEN-SHADOW-SKILLS.png" alt="">

        <div class="content-left">
            <div class="skills-items-container">
                <div *ngFor="let singleSkill of skillsdata.skillsBox; let i = index"
                    [style.--animation-delay]="i * 0.08 + 's'" class=" skill-item">
                    <img [src]="singleSkill.img"
                        [alt]="'MY_SKILLS.SKILL_ICON_ALT' | translate: { skillName: singleSkill.name }">
                    <p> {{ singleSkill.name }}</p>
                </div>
            </div>
        </div>

        <div class="headline-box-grid-item">
            <div class="h1-p">
                <div class="headline-vector-box">
                    <h1 [innerHTML]="'MY_SKILLS.HEADLINE' | translate"
                        [ngClass]="{ 'font-size-de': activeLanguage === 'de' }"></h1>
                    <div [ngClass]="{ 'translate-up': activeLanguage === 'de' }" class="purple-vector-grid-item">
                        <div class="purple-vektor"></div>
                    </div>
                </div>

                <div class="test">

                    <p [innerHTML]="'MY_SKILLS.DESCRIPTION_SKILLS' | translate"></p>
                    <div class="placeholder-headline-box"></div>
                </div>

            </div>




        </div>

        <div class="text-box-grid-item">
            <div class="text-content">
                <h2>{{ 'MY_SKILLS.UNDERHEADLINE_PART_1' | translate}}

                    <span>{{ 'MY_SKILLS.UNDERHEADLINE_PART_2' | translate }}</span>?
                </h2>

                <p [innerHTML]="'MY_SKILLS.DESCRIPTION_LEARNING_ENTHUSIASM' | translate"></p>

                <button [innerHTML]="'MY_SKILLS.BUTTON' | translate"></button>
            </div>

            <div class="placeholder-text-content"></div>
        </div>
    </div>
</section>