<section>
    <div class="skills-content">

        <img src="../../../assets/img/background/GREEN-SHADOW-SKILLS.png" alt="">


        <div class="content-left">
            <div class="skills-container">
                <div *ngFor="let singleSkill of skillsdata.skillsBox" class="skill-item">
                    <img [src]="singleSkill.img"
                        [alt]="'MY_SKILLS.SKILL_ICON_ALT' | translate: { skillName: singleSkill.name }">
                    <p> {{ singleSkill.name }}</p>
                </div>
            </div>
        </div>


        <div class="content-right">
            <div class="text-box">

                <div class="h1-vector-box">
                    <h1>My skills</h1>
                    <div class="purple-vektor">
                    </div>
                </div>

                <div class="text-content">
                    <p>Show that you have used a variety of front-end <br> technologies in your projects.</p>


                    <h2>Looking for <span>another skill</span>?</h2>


                    <p>Reveal enthusiasm for learning new technologies and frameworks</p>

                    <button>Get in touch</button>
                </div>


            </div>


        </div>
    </div>




</section>