<section>
    <div class="about-me-content">
        <img src="../../../assets/img/background/PURPLE-SHADOW-ABOUT-ME.svg"
            alt="{{'ABOUT_ME.ALT_TEXT_PURPLE_SHADOW' | translate}}">

        <div class="content-left">
            <div appAnimateOnScroll [animationThreshold]="0.2" class="h1-box">
                <h1 [innerHTML]="'ABOUT_ME.HEADLINE' | translate"></h1>
            </div>

            <div appAnimateOnScroll [animationThreshold]="0.2" class="p-box">
                <p [innerHTML]="'ABOUT_ME.DESCRIPTION_PART1' | translate"></p>
                <!-- <p [innerHTML]="'ABOUT_ME.DESCRIPTION_PART2' | translate"> </p> -->
            </div>


            <div appAnimateOnScroll [animationThreshold]="0.2" class="info-block">
                <div class="icon-box">
                    <img src="../../../assets/icons/about-me-icons/LOCATION-icon.svg"
                        alt=" {{ 'ABOUT_ME.ALT_TEXT_LOCATION_ICON' | translate}}">
                </div>
                <div class="text-box">
                    <p [innerHTML]="'ABOUT_ME.LOCATION' | translate"> </p>
                </div>
            </div>

            <div appAnimateOnScroll [animationThreshold]="0.2" class="info-block">
                <div class="icon-box">
                    <img src="../../../assets/icons/about-me-icons/BULB-icon.svg"
                        alt="{{ 'ABOUT_ME.ALT_TEXT_BULB_ICON' | translate}}">
                </div>
                <div class="text-box">
                    <p [innerHTML]="'ABOUT_ME.LEARNING' | translate"></p>
                </div>
            </div>

            <div appAnimateOnScroll [animationThreshold]="0.2" class="info-block">
                <div class="icon-box">
                    <img src="../../../assets/icons/about-me-icons/PUZZLE-icon.svg"
                        alt="{{ 'ABOUT_ME.ALT_TEXT_PUZZLE_ICON' | translate}}">
                </div>
                <div class="text-box">
                    <p [innerHTML]="'ABOUT_ME.PROBLEM_SOLVING' | translate"></p>
                </div>
            </div>
        </div>

        <div appAnimateOnScroll [animationThreshold]="0.2" class="content-right">
            <div class="img-box">
                <img src="../../../assets/img/profile-pictures/ABOUT_ME_PROFILE_PICTURE.png"
                    alt=" {{ 'ABOUT_ME.ALT_TEXT_IMG' | translate}}">
            </div>

            <div class="vector-box">
                <div class="green-vektor">
                </div>
            </div>
        </div>
    </div>
</section>