<section>
    <div class="about-me-content">
        <img src="../../../assets/img/background/PURPLE-SHADOW-ABOUT-ME.svg" alt="">
        <div class="content-left">
            <h1>{{ 'ABOUT_ME.HEADLINE' | translate }}</h1>
            <p> {{ 'ABOUT_ME.DESCRIPTION_PART1' | translate }}</p>
            <p> {{ 'ABOUT_ME.DESCRIPTION_PART2' | translate }}</p>

            <div class="info-block">
                <div class="icon-box">
                    <img src="../../../assets/icons/about-me-icons/LOCATION-icon.svg"
                        alt=" {{ 'ABOUT_ME.ALT_TEXT_LOCATION_ICON' | translate}}">
                </div>
                <div class="text-box">
                    <p> {{ 'ABOUT_ME.LOCATION' | translate }}</p>
                </div>

            </div>

            <div class="info-block">
                <div class="icon-box">
                    <img src="../../../assets/icons/about-me-icons/BULB-icon.svg"
                        alt="{{ 'ABOUT_ME.ALT_TEXT_BULB_ICON' | translate}}">
                </div>
                <div class="text-box">
                    <p> {{ 'ABOUT_ME.LEARNING' | translate }}</p>
                </div>

            </div>

            <div class="info-block">
                <div class="icon-box">
                    <img src="../../../assets/icons/about-me-icons/PUZZLE-icon.svg"
                        alt="{{ 'ABOUT_ME.ALT_TEXT_PUZZLE_ICON' | translate}}">
                </div>
                <div class="text-box">
                    <p> {{ 'ABOUT_ME.PROBLEM_SOLVING' | translate }}</p>
                </div>

            </div>
        </div>

        <div class="content-right">
            <div class="img-box">
                <img src="../../../assets/img/profile-pictures/PROFILE_IMG_ABOUT_ME.png"
                    alt=" {{ 'ABOUT_ME.ALT_TEXT_IMG' | translate}}">
            </div>

            <div class="green-vektor">
            </div>
        </div>
    </div>
</section>