@use "../../../assets/styles/variables.scss" as *;
@use "../../../assets/styles/mixins.scss" as *;

section {
  // min-height: 100dvh;
  height: 100dvh;
  width: 100%;
  background-color: $primary-bg-gray;

  @media screen and (max-width: $breakpoint-width-920) {
    padding-block: 50px;
    height: unset;
  }

  @media screen and (max-height: $responsive-height-814) {
    height: calc(100dvh - $header-hight);
  }

  @media screen and (max-height: $responsive-height-814) and (max-width: $breakpoint-width-920) {
    height: unset;
  }
}

p {
  @include fontSizeWeightColor($si: 16px, $we: 400);
}

h1 {
  @include fontSizeWeightColor(
    $si: clamp(45px, 36px + 2.8125vw, 90px),
    $we: 700
  );
}

.about-me-content {
  max-width: $max-width-1920;
  width: 100%;
  height: auto;
  // min-height: 100%;
  height: 100%;
  position: relative;
  overflow-x: clip;

  @media screen and (max-width: $breakpoint-width-920) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  // @media screen and (max-height: $responsive-height-814) {
  //   padding-block: 15px;
  // }

  > img {
    z-index: 3;
    position: absolute;
    right: -433px;
    top: clamp(-234px, -266.5333px + 10.1667vw, -173px);
    width: clamp(600px, 525.3333px + 23.3333vw, 740px);
  }
}

.content-left {
  z-index: 4;
  gap: 25px;
  flex-direction: column;
  max-width: 475px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: $distance-right-left-about-me;
  @include dFlexAllCenter($ai: flex-start);

  @media screen and (max-width: $breakpoint-width-920) {
    position: unset;
    transform: unset;
    width: clamp(315px, 205.6667px + 34.1667vw, 520px);
    padding-inline: 25px;
  }

  @media screen and (max-height: $responsive-height-814) {
    max-width: 605px;
  }
}

.info-block {
  margin-top: 32px;
  @include dFlexAllCenter($g: 16px, $ai: flex-start);
}

.icon-box {
  display: block;
  height: 48px;
  aspect-ratio: 1 / 1;
  margin-top: 10px;

  > img {
    height: 100%;
  }
}

.text-box {
  flex: 1;
}

.content-right {
  z-index: 4;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  height: clamp(307px, 172.68px + 14.6vw, 453px);

  @media screen and (max-width: $breakpoint-width-920) {
    display: none;
  }
}

.img-box {
  height: 100%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 4px solid $primary-bg-green;
  display: grid;
  place-items: center;
  background-color: $primary-bg-gray;

  > img {
    width: 100%;
    transform: translateY(25px);
  }
}

.vector-box {
  width: $distance-right-left-about-me;
  display: flex;

  @media screen and (max-height: $responsive-height-814) {
    width: clamp(60px, -112.96px + 18.8vw, 248px);
  }
}

.green-vektor {
  height: 4px;
  background-color: $primary-bg-green;
  flex: 1;
}
