@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

section {
  position: absolute;
  left: 0;
  bottom: 25px;
  @include dFlexAllCenter($jc: space-between,$g: 32px);
  z-index: 5;

  
  > a {
    @include fontSizeWeightColor();
  }

  
}


