<section>
    <img src="../../../assets/icons/general-icons/VECTOR-HORIZONTAL.svg" alt="Icon-Vector">
    <app-social-media></app-social-media>
    <!-- <img title="Github" src="../../../assets/icons/social-buttons-icons/GITHUB-icon.svg" alt="Icon-Github">
    <img title="Email" src="../../../assets/icons/social-buttons-icons/EMAIL-icon.svg" alt="Icon-Email">
    <img title="Linkedin" src="../../../assets/icons/social-buttons-icons/LINKEDIN-icon.svg" alt="Icon-Linkedin"> -->
    <a href="mailto:joergbechtold@gmx.net">joergbechtold&#64;gmx.net</a>
</section>