<section>
    <div class="contact-content">

        <img src="../../../assets/img/background/PURPLE-SHADOW-CONTACT.svg" alt="">

        <div class="headline-box">
            <div class="h1-vector-box">
                <h1>{{ 'CONTACT.H1' | translate }}</h1>
            </div>
        </div>

        <div class="contact-section">
            <div class="contact-box">
                <div class="left-box">
                    <div class="left-text-box">
                        <h2>{{ 'CONTACT.INTRO_SECTION.HEADLINE' | translate }}</h2>
                        <p>{{ 'CONTACT.INTRO_SECTION.CALL_TO_ACTION' | translate }}</p>
                        <p [innerHTML]="'CONTACT.INTRO_SECTION.SUB_CALL_TO_ACTION' | translate "></p>
                    </div>
                </div>

                <!-- <div class="right-box">
                    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                        <div class="form-group">
                            <label for="name" class="visually-hidden">Your name</label>
                            <input id="name" [(ngModel)]="contactData.name" minlength="2" type="text" name="name"
                                placeholder="Your name" required>
                        </div>

                        <div class="form-group">
                            <label for="email" class="visually-hidden">Your email</label>
                            <input id="email" [(ngModel)]="contactData.email" type="email" name="email"
                                placeholder="Your email" required
                                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                        </div>

                        <div class="form-group">
                            <label for="message" class="visually-hidden">Your message</label>
                            <textarea id="message" #message="ngModel" [(ngModel)]="contactData.message" minlength="2"
                                name="message" placeholder="Your message" rows="6" required></textarea>

                            @if (!message.valid && message.touched && !message.disabled){
                            <p>test</p>
                            }
                        </div>

                        <div class="form-group privacy-checkbox">
                            <input type="checkbox" id="privacy" name="privacy" required>
                            <label for="privacy">
                                I've read the <a class="" [routerLink]="getRouterLink('privacyPolicy')"
                                    [innerHTML]="'LINK.PRIVACY_POLICY' | translate"></a> and agree to the processing of
                                my data as outlined.
                            </label>
                        </div>

                        <button disabled type="submit" class="submit-button">Send message :)</button>
                    </form>
                </div> -->

                <div class="right-box">
                    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

                        <div class="form-group">
                            <label for="name" class="visually-hidden">{{ 'CONTACT.FORM.NAME_LABEL' | translate
                                }}</label>
                            <input id="name" [(ngModel)]="contactData.name" minlength="2" type="text" name="name"
                                placeholder="{{ 'CONTACT.FORM.NAME_PLACEHOLDER' | translate }}" required
                                #nameField="ngModel">
                            <!-- #nameField="ngModel" hinzugefügt -->
                            <!-- Icons für den Namen -->
                            <img *ngIf="nameField.valid && nameField.touched"
                                src="../../../assets/icons/contact-icons/ACCEPTED-ICON.svg" alt="Accepted"
                                class="validation-icon accepted-icon">

                            <img *ngIf="!nameField.valid && nameField.touched"
                                src="../../../assets/icons/contact-icons/NOT-VALIDE-ICON.svg" alt="Not Valid"
                                class="validation-icon not-valid-icon">
                            <!-- Fehlermeldung für den Namen -->
                            @if (!nameField.valid && nameField.touched){
                            <p class="error-message" *ngIf="nameField.errors?.['required']">
                                {{ 'CONTACT.VALIDATION.NAME_REQUIRED' | translate }}</p>

                            <p class="error-message" *ngIf="nameField.errors?.['minlength']">{{
                                'CONTACT.VALIDATION.NAME_MINLENGTH' | translate
                                }}</p>
                            }
                        </div>

                        <div class="form-group">
                            <label for="email" class="visually-hidden">{{ 'CONTACT.FORM.EMAIL_LABEL' | translate
                                }}</label>
                            <input id="email" [(ngModel)]="contactData.email" type="email" name="email"
                                placeholder="{{ 'CONTACT.FORM.EMAIL_PLACEHOLDER' | translate }}" required
                                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" #emailField="ngModel">
                            <!-- #emailField="ngModel" hinzugefügt -->
                            <!-- Icons für die E-Mail -->
                            <img *ngIf="emailField.valid && emailField.touched"
                                src="../../../assets/icons/contact-icons/ACCEPTED-ICON.svg" alt="Accepted"
                                class="validation-icon accepted-icon">
                            <img *ngIf="!emailField.valid && emailField.touched"
                                src="../../../assets/icons/contact-icons/NOT-VALIDE-ICON.svg" alt="Not Valid"
                                class="validation-icon not-valid-icon">
                            <!-- Fehlermeldung für die E-Mail -->
                            @if (!emailField.valid && emailField.touched){
                            <p class="error-message" *ngIf="emailField.errors?.['required']">{{
                                'CONTACT.VALIDATION.EMAIL_REQUIRED' | translate
                                }}</p>
                            <p class="error-message" *ngIf="emailField.errors?.['pattern']">{{
                                'CONTACT.VALIDATION.EMAIL_INVALID' | translate }}
                            </p>
                            }
                        </div>

                        <div class="form-group">
                            <label for="message" class="visually-hidden">{{ 'CONTACT.FORM.MESSAGE_LABEL' | translate
                                }}</label>
                            <textarea id="message" #messageField="ngModel" [(ngModel)]="contactData.message"
                                minlength="2" name="message"
                                placeholder="{{ 'CONTACT.FORM.MESSAGE_PLACEHOLDER' | translate }}" rows="6"
                                required></textarea>
                            <!-- #messageField="ngModel" geändert -->
                            <!-- Icons für die Nachricht -->
                            <img *ngIf="messageField.valid && messageField.touched"
                                src="../../../assets/icons/contact-icons/ACCEPTED-ICON.svg" alt="Accepted"
                                class="validation-icon accepted-icon">
                            <img *ngIf="!messageField.valid && messageField.touched"
                                src="../../../assets/icons/contact-icons/NOT-VALIDE-ICON.svg" alt="Not Valid"
                                class="validation-icon not-valid-icon">
                            <!-- Fehlermeldung für die Nachricht -->
                            @if (!messageField.valid && messageField.touched){
                            <p class="error-message" *ngIf="messageField.errors?.['required']">{{
                                'CONTACT.VALIDATION.MESSAGE_REQUIRED' |
                                translate }}</p>
                            <p class="error-message" *ngIf="messageField.errors?.['minlength']">{{
                                'CONTACT.VALIDATION.MESSAGE_MINLENGTH' |
                                translate }}</p>
                            }
                        </div>

                        <div class="form-group privacy-checkbox">
                            <input type="checkbox" id="privacy" name="privacy" [(ngModel)]="privacyAccepted" required
                                #privacyField="ngModel"> <!-- #privacyField="ngModel" hinzugefügt -->
                            <label for="privacy">
                                <p>
                                    {{ 'CONTACT.FORM.PRIVACY_TEXT_PART1' | translate }} <a class=""
                                        [routerLink]="getRouterLink('privacyPolicy')">{{
                                        'CONTACT.LINK.PRIVACY_POLICY' | translate}}</a> {{
                                    'CONTACT.FORM.PRIVACY_TEXT_PART2' | translate }}
                                </p>
                            </label>
                            <!-- Fehlermeldung für die Checkbox -->
                            @if (!privacyField.valid && privacyField.touched){
                            <p class="error-message">{{ 'CONTACT.VALIDATION.PRIVACY_REQUIRED' | translate }}</p>
                            }
                        </div>

                        <button [disabled]="!contactForm.valid" type="submit" class="submit-button">{{
                            'CONTACT.FORM.SEND_BUTTON' | translate }}</button>
                    </form>
                </div>
            </div>

        </div>

        <div (click)="scrollToTop()" class="arrow-scroll-top">
            <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1" y="1" width="37" height="37" rx="18.5" stroke="none" stroke-width="2" />
                <path
                    d="M18 15.828L13.343 20.485C12.9526 20.8755 12.3195 20.8755 11.929 20.485C11.5386 20.0945 11.5386 19.4615 11.929 19.071L18.2929 12.7071C18.6834 12.3166 19.3166 12.3166 19.7071 12.7071L26.071 19.071C26.4615 19.4615 26.4615 20.0945 26.071 20.485C25.6806 20.8755 25.0475 20.8755 24.657 20.485L20 15.828L20 27C20 27.5523 19.5523 28 19 28C18.4477 28 18 27.5523 18 27L18 15.828Z"
                    fill="none" />
            </svg>
        </div>
    </div>

    <div class="email-sent-overlay" [ngClass]="{'show': showEmailSentOverlay}">
        <div class="overlay-content">
            <svg class="check-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="20 6 9 17 4 12"></polyline>
            </svg>

            <h2>test h2</h2>
            <p>test p</p>
            <button class="close-overlay-btn" (click)="closeEmailSentOverlay()">OK</button>
        </div>
    </div>
</section>