<section>
    <div class="contact-content">

        <img src="../../../assets/img/background/PURPLE-SHADOW-CONTACT.svg" alt="">

        <div class="headline-box">
            <div class="h1-vector-box">
                <h1>Contact</h1>
            </div>
        </div>

        <div class="contact-section">
            <div class="contact-box">
                <div class="left-box">
                    <div class="left-text-box">
                        <h2>Got a problem to solve?</h2>
                        <p>Encourage people to contact you and describe what role you are interested in. Show that you
                            will
                            add
                            value to their projects through your work.</p>
                        <p>Need a Frontend developer? <b>Contact me!</b></p>
                    </div>

                </div>

                <div class="right-box">
                    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                        <div class="form-group">
                            <label for="name" class="visually-hidden">Your name</label>
                            <input id="name" [(ngModel)]="contactData.name" minlength="2" type="text" name="name"
                                placeholder="Your name" required>
                        </div>

                        <div class="form-group">
                            <label for="email" class="visually-hidden">Your email</label>
                            <input id="email" [(ngModel)]="contactData.email" type="email" name="email"
                                placeholder="Your email" required
                                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                        </div>

                        <div class="form-group">
                            <label for="message" class="visually-hidden">Your message</label>
                            <textarea id="message" #message="ngModel" [(ngModel)]="contactData.message" minlength="2"
                                name="message" placeholder="Your message" rows="6" required></textarea>

                            @if (!message.valid && message.touched && !message.disabled){
                            <p>test</p>
                            }
                        </div>

                        <div class="form-group privacy-checkbox">
                            <input type="checkbox" id="privacy" name="privacy" required>
                            <label for="privacy">
                                I've read the <a class="" [routerLink]="getRouterLink('privacyPolicy')"
                                    [innerHTML]="'LINK.PRIVACY_POLICY' | translate"></a> and agree to the processing of
                                my data as outlined.
                            </label>
                        </div>

                        <button disabled type="submit" class="submit-button">Send message :)</button>
                    </form>
                </div>
            </div>

        </div>

        <div (click)="scrollToTop()" class="arrow-scroll-top">
            <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1" y="1" width="37" height="37" rx="18.5" stroke="none" stroke-width="2" />
                <path
                    d="M18 15.828L13.343 20.485C12.9526 20.8755 12.3195 20.8755 11.929 20.485C11.5386 20.0945 11.5386 19.4615 11.929 19.071L18.2929 12.7071C18.6834 12.3166 19.3166 12.3166 19.7071 12.7071L26.071 19.071C26.4615 19.4615 26.4615 20.0945 26.071 20.485C25.6806 20.8755 25.0475 20.8755 24.657 20.485L20 15.828L20 27C20 27.5523 19.5523 28 19 28C18.4477 28 18 27.5523 18 27L18 15.828Z"
                    fill="none" />
            </svg>
        </div>
    </div>

    <div class="email-sent-overlay" [ngClass]="{'show': showEmailSentOverlay}">
        <div class="overlay-content">
            <svg class="check-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="20 6 9 17 4 12"></polyline>
            </svg>
            <!-- <h2>{{ 'CONTACT.EMAIL_SENT_TITLE' | translate }}</h2>
            <p>{{ 'CONTACT.EMAIL_SENT_MESSAGE' | translate }}</p> -->
            <h2>test h2</h2>
            <p>test p</p>
            <button class="close-overlay-btn" (click)="closeEmailSentOverlay()">OK</button>
        </div>
    </div>

</section>

<!-- svgs -->
<!-- checkbox empty -->
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <mask id="mask0_41963_3098" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
        <rect width="24" height="24" fill="#797EF3" />
    </mask>
    <g mask="url(#mask0_41963_3098)">
        <path
            d="M5 21C4.45 21 3.97917 20.8042 3.5875 20.4125C3.19583 20.0208 3 19.55 3 19V5C3 4.45 3.19583 3.97917 3.5875 3.5875C3.97917 3.19583 4.45 3 5 3H19C19.55 3 20.0208 3.19583 20.4125 3.5875C20.8042 3.97917 21 4.45 21 5V19C21 19.55 20.8042 20.0208 20.4125 20.4125C20.0208 20.8042 19.55 21 19 21H5ZM5 19H19V5H5V19Z"
            fill="#70E61C" />
    </g>
</svg>

<!-- checkbox empty hover -->
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="24" height="24" rx="12" fill="#183771" />
    <mask id="mask0_41963_3101" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
        <rect width="24" height="24" fill="#797EF3" />
    </mask>
    <g mask="url(#mask0_41963_3101)">
        <path
            d="M5 21C4.45 21 3.97917 20.8042 3.5875 20.4125C3.19583 20.0208 3 19.55 3 19V5C3 4.45 3.19583 3.97917 3.5875 3.5875C3.97917 3.19583 4.45 3 5 3H19C19.55 3 20.0208 3.19583 20.4125 3.5875C20.8042 3.97917 21 4.45 21 5V19C21 19.55 20.8042 20.0208 20.4125 20.4125C20.0208 20.8042 19.55 21 19 21H5ZM5 19H19V5H5V19Z"
            fill="#70E61C" />
    </g>
</svg>

<!-- checkbox checked -->
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <mask id="mask0_41963_3104" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
        <rect width="24" height="24" fill="#797EF3" />
    </mask>
    <g mask="url(#mask0_41963_3104)">
        <path
            d="M10.6 13.4L8.45 11.25C8.26667 11.0667 8.03333 10.975 7.75 10.975C7.46667 10.975 7.23333 11.0667 7.05 11.25C6.86667 11.4333 6.775 11.6667 6.775 11.95C6.775 12.2333 6.86667 12.4667 7.05 12.65L9.9 15.5C10.1 15.7 10.3333 15.8 10.6 15.8C10.8667 15.8 11.1 15.7 11.3 15.5L16.95 9.85C17.1333 9.66667 17.225 9.43333 17.225 9.15C17.225 8.86667 17.1333 8.63333 16.95 8.45C16.7667 8.26667 16.5333 8.175 16.25 8.175C15.9667 8.175 15.7333 8.26667 15.55 8.45L10.6 13.4ZM5 21C4.45 21 3.97917 20.8042 3.5875 20.4125C3.19583 20.0208 3 19.55 3 19V5C3 4.45 3.19583 3.97917 3.5875 3.5875C3.97917 3.19583 4.45 3 5 3H19C19.55 3 20.0208 3.19583 20.4125 3.5875C20.8042 3.97917 21 4.45 21 5V19C21 19.55 20.8042 20.0208 20.4125 20.4125C20.0208 20.8042 19.55 21 19 21H5ZM5 19H19V5H5V19Z"
            fill="#70E61C" />
    </g>
</svg>

<!-- checkbock checked hover  -->
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="24" height="24" rx="12" fill="#183771" />
    <mask id="mask0_41963_3107" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
        <rect width="24" height="24" fill="#797EF3" />
    </mask>
    <g mask="url(#mask0_41963_3107)">
        <path
            d="M10.6 13.4L8.45 11.25C8.26667 11.0667 8.03333 10.975 7.75 10.975C7.46667 10.975 7.23333 11.0667 7.05 11.25C6.86667 11.4333 6.775 11.6667 6.775 11.95C6.775 12.2333 6.86667 12.4667 7.05 12.65L9.9 15.5C10.1 15.7 10.3333 15.8 10.6 15.8C10.8667 15.8 11.1 15.7 11.3 15.5L16.95 9.85C17.1333 9.66667 17.225 9.43333 17.225 9.15C17.225 8.86667 17.1333 8.63333 16.95 8.45C16.7667 8.26667 16.5333 8.175 16.25 8.175C15.9667 8.175 15.7333 8.26667 15.55 8.45L10.6 13.4ZM5 21C4.45 21 3.97917 20.8042 3.5875 20.4125C3.19583 20.0208 3 19.55 3 19V5C3 4.45 3.19583 3.97917 3.5875 3.5875C3.97917 3.19583 4.45 3 5 3H19C19.55 3 20.0208 3.19583 20.4125 3.5875C20.8042 3.97917 21 4.45 21 5V19C21 19.55 20.8042 20.0208 20.4125 20.4125C20.0208 20.8042 19.55 21 19 21H5ZM5 19H19V5H5V19Z"
            fill="#70E61C" />
    </g>
</svg>