<div class="nav-content-box">
    <nav [ngClass]="{'sidenav-layout': isInSidenav}">
        <div class="links-header">
            <a routerLink="/about-me" translate="HEADER.ABOUT_ME"></a>
            <a routerLink="/skills" translate="HEADER.SKILLS"></a>
            <a routerLink="/portfolio" translate="HEADER.PORTFOLIO"></a>
            <a [ngStyle]="{'display': isInSidenav ? 'flex' : 'none'}" routerLink="/contact"
                translate="HEADER.CONTACT"></a>
        </div>

        <div class="language-btns">
            <button translate="HEADER.LANG_DE" [ngClass]="{ 'active-button': activeLanguage === 'de' }"
                (click)="setLanguage('de')">

            </button>
            <button translate="HEADER.LANG_EN" [ngClass]="{ 'active-button': activeLanguage === 'en' }"
                (click)="setLanguage('en')">
            </button>
        </div>
    </nav>
</div>