<div class="header">
    <div class="header-content-box">
        <div class="header-icon-box">
            <a title=" {{ 'HEADER.TITLE_IMG' | translate}}" (click)="onLogoClick()">
                <img src="../../../assets/img/HEADER-Name.png" alt="{{ 'HEADER.IMG_ALT' | translate}}">
            </a>
        </div>

        <app-navigation [isInSidebar]="isMenuOpen" (closeSidebarRequest)="closeSidebar()"
            class="main-navigation hide-mobile"></app-navigation>

        <div (click)="toggleSidebar()" class="hamburger-menu show-mobile">
            <div id="hamburger-icon-toggle" class="hamburger-icon "
                [ngClass]="{ 'hamburger-menu-show-click': isMenuOpen }">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>
</div>

<div class="sidebar-overlay" [ngClass]="{'open': isMenuOpen}" (click)="closeSidebar()">
    <app-sidebar [isMenuOpen]="isMenuOpen" (closeSidebarEvent)="closeSidebar()"
        (click)="$event.stopPropagation()"></app-sidebar>
</div>