<div class="header">
    <div class="header-content-box">
        <div class="header-icon-box">
            <a title="Startseite" routerLink="/">
                <img src="../../../assets/img/HEADER-Name.png" alt="Header icon">
            </a>
        </div>

        <app-header-nav class="main-header-nav hide-mobile"></app-header-nav>

        <div (click)="toggleSidebar()" class="hamburger-menu show-mobile">
            <div id="hamburger-icon-toggle" class="hamburger-icon "
                [ngClass]="{ 'hamburger-menu-show-click': isMenuOpen }">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>
</div>

<app-sidenav [hidden]="!isMenuOpen" [ngClass]="{'open': isMenuOpen}"></app-sidenav>