@use '../../../assets/styles/variables.scss' as*;
@use '../../../assets/styles/mixins.scss' as*;



.header{
    height: $header-hight;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    @include dFlexAllCenter();
    background-color: $primary-bg-gray;
    @include paddingLeftRightHolePage();
    z-index: 10;
}

.header-icon-box{
  @include headerFooterLogoStyle()
}

.header-content-box{
    width: 100%;
    height: 100%;
    max-width: $max-width-1920;
    @include dFlexAllCenter( $jc: space-between);

     >nav{
       @include dFlexAllCenter( $jc: space-between, $g: 92px);
     }
}

.hamburger-icon {
  @include dFlexAllCenter( $jc: space-between);
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 32px;
  background: white;
  margin: 5px 0;
  border-radius: 100px;
  transition: 0.125s ease-in-out;
}

.bar:nth-child(2){
  width: 16px;
}

.hamburger-menu-show-click .bar:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
 
}
.hamburger-menu-show-click .bar:nth-child(2) {
  opacity: 0;
}
.hamburger-menu-show-click .bar:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
 
}

.links-header{
    @include dFlexAllCenter( $jc: space-between, $g: 29px);

    >a{
        @include fontSizeWeightColor();
        transition:  color 0.3s ease; 

        &:hover{
            color: $primary-bg-green;
        }
    }
}

.language-btns{
    @include dFlexAllCenter( $jc: space-between, $g: 14px);

    > button {
      @include fontSizeWeightColor();
      background-color: transparent;
      border: 1px solid $primary-bg-green;
      border-radius: 10px;
      padding: 5px 8px 5px 8px;
      cursor: pointer; 
      transition: background-color 0.3s ease, color 0.3s ease; 
  
      &.active-button {
        background-color: $primary-bg-green; 
      }
  
      &:hover:not(.active-button) { 
        background-color: $primary-bg-purple;
        border: 1px solid $primary-bg-purple; 
      }
  }
}