@use "../../../../../assets/styles/variables.scss" as *;
@use "../../../../../assets/styles/mixins.scss" as *;

.sidebar-overlay {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 10;
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  background-color: transparent;
  height: 100dvh;
  overflow: hidden;

  &.open {
    transform: translateX(0);
  }

  @media screen and (max-width: $breakpoint-width-920) {
    top: var(--header-height-responsive);
  }
}

app-sidebar {
  position: absolute;
  right: 0;
  width: 350px;
  height: calc(100% - var(var(header-height)));
  background-color: $side-nav-bg;
  @include dFlexAllCenter();
  flex-direction: column;

  @media screen and (max-width: $breakpoint-width-920) {
    height: calc(100% - var(--header-height-responsive));
  }

  @media screen and (max-width: 500px) {
    width: 100%;
  }
}
