<section appAnimateOnScroll>
    <div class="portfolio-content">
        <div class="headline-box">
            <div class="h1-vector-box">
                <!-- <div class="purple-vektor-1"></div> -->
                <h1>Portfolio</h1>
                <!-- <div class="purple-vektor"></div> -->
            </div>

            <p>Explore a selection of my work here - Interact with projects to see my skills in action</p>
        </div>



        <div class="project-section">

            <div *ngFor="let singleProject of projectsService.projectBox;" class="project-box">
                <div class="singel-project">
                    <div class="img-box">
                        <img [src]="singleProject.img" [alt]="singleProject.imgAlt | translate">
                    </div>

                    <div class="content-box">
                        <h1>{{singleProject.title}}</h1>
                        <p>{{ singleProject.description | translate }}</p>

                        <a [href]="singleProject.liveTestUrl" target="_blank">{{singleProject.title}}</a>
                        <a [href]="singleProject.githubUrl" target="_blank">{{singleProject.title}}</a>
                    </div>

                </div>
            </div>






        </div>
    </div>
</section>