@use "../../../assets/styles/variables.scss" as *;
@use "../../../assets/styles/mixins.scss" as *;

section {
  @include commonSectionStyles($hei-desk: unset, $hei-mob: unset);

  @media screen and (max-width: 1250px) {
    height: unset;
  }
}

.portfolio-content {
  flex-direction: column;
  @include commonContentStyle($jc: center, $ai: center);
}

.headline-box {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;

  > p {
    text-align: center;
    padding-inline: 44px;
    @include fontSizeWeightColor($si: 16px);
  }
}

.h1-vector-box {
  width: fit-content;

  > h1 {
    @include dFlexAllCenter();
    position: relative;
    @include fontSizeWeightColor($si: var(--font-size-45-90), $we: 700);

    &::before {
      content: "";
      position: absolute;
      right: 108%;
      display: block;
      width: clamp(24px, -1.2px + 7.875vw, 150px);
      height: 4px;
      background-color: $primary-bg-purple;
      border-radius: 4px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 108%;
      display: block;
      width: 800px;
      height: 4px;
      background-color: $primary-bg-purple;
      border-radius: 4px;
    }
  }
}

.project-section {
  @include dFlexAllCenter($ai: center, $jc: center, $g: 25px);
  flex-direction: column;
  padding-inline: 96px;
}

.project-box {
  max-width: 80%;
  display: flex;

  &:nth-child(odd) {
    .singel-project {
      flex-direction: row;
    }

    .content-box,
    .content-text-box {
      align-items: flex-start;
      text-align: left;
    }
  }

  &:nth-child(even) {
    .singel-project {
      flex-direction: row-reverse;
    }
    .content-box,
    .content-text-box {
      align-items: flex-end;
      text-align: right;
    }
  }
}

.singel-project {
  height: 100%;
  @include dFlexAllCenter($g: 45px);
}

.img-box {
  flex: 1;
  @include dFlexAllCenter();

  > img {
    width: 100%;
  }
}

.content-box {
  flex: 1;
  @include dFlexAllCenter($ai: flex-start, $g: 25px);
  flex-direction: column;
}

.content-text-box {
  width: 60%;
  @include dFlexAllCenter($ai: flex-start, $g: 15px);
  flex-direction: column;

  > h2 {
    @include fontSizeWeightColor($si: 32px, $we: 700, $co: $primary-bg-purple);
  }

  > p {
    @include fontSizeWeightColor($si: 16px);
  }
}

.content-btn-box {
  @include dFlexAllCenter($jc: flex-start, $g: 60px);

  > button {
    padding: $padding-block-11-15 $padding-inline-24-30 $padding-block-11-15
      $padding-inline-24-30;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px #00000040;
    transition: var(--transition-btn);

    > a {
      @include fontSizeWeightColor($si: var(--font-size-18-23));
    }
  }
}

// .btn-live-test {
//   background-color: $primary-bg-purple;

//   &:hover {
//     background-color: $primary-bg-green;
//   }
// }

.btn-github,
.btn-live-test {
  background-color: transparent;
  border: 1px solid $primary-bg-green;

  &:hover {
    background-color: $primary-bg-purple;
    border: 1px solid $primary-bg-purple;
  }
}
