<section>
    <div class="portfolio-content">
        <div appAnimateOnScroll [animationThreshold]="0.9" class="headline-box">
            <div class="h1-vector-box">
                <h1>Portfolio</h1>
            </div>
            <p [innerHTML]="'PORTFOLIO.HEADLINE_DESCRIPTION' | translate"></p>
        </div>

        <div class="project-section">

            <div *ngFor="let singleProject of projectsService.projectBox; let i = index" class="project-box"
                [style.--project-animation-delay]="i * 0.3 + 's'">

                <div class="singel-project" appAnimateOnScroll [animationThreshold]="0.2">
                    <div class="img-box">
                        <img [src]="singleProject.img" [alt]="singleProject.imgAlt | translate">
                    </div>

                    <div class="content-box">
                        <div class="content-text-box">
                            <h2>{{singleProject.title}}</h2>
                            <p>{{ singleProject.description | translate }}</p>
                        </div>

                        <div class="content-btn-box">
                            <button class="btn-live-test"><a [href]="singleProject.liveTestUrl" target="_blank">Live
                                    test</a></button>
                            <button class="btn-github"><a [href]="singleProject.githubUrl"
                                    target="_blank">Github</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>