<section>
    <div class="privacy-policy-content">
        <div id='generator_results'>
            <div id='generator_results_content'>
                <h1 [innerHTML]="'PRIVACY_POLICY.H1' | translate"></h1>
                <h2 [innerHTML]="'PRIVACY_POLICY.RESPONSIBLE_PERSON_TITLE' | translate"></h2>
                <p [innerHTML]="'PRIVACY_POLICY.RESPONSIBLE_PERSON_TEXT' | translate"></p>
                <p class='generator_user_input'>Jörg Bechtold</p>
                <h2 [innerHTML]="'PRIVACY_POLICY.YOUR_RIGHTS_TITLE' | translate"></h2>
                <p [innerHTML]="'PRIVACY_POLICY.YOUR_RIGHTS_TEXT_1' | translate"></p>
                <ul>
                    <li><span [innerHTML]="'PRIVACY_POLICY.RIGHT_TO_INFORMATION' | translate"></span></li>
                    <li><span [innerHTML]="'PRIVACY_POLICY.RIGHT_TO_RECTIFICATION' | translate"></span></li>
                    <li><span [innerHTML]="'PRIVACY_POLICY.RIGHT_TO_ERASURE' | translate"></span></li>
                    <li><span [innerHTML]="'PRIVACY_POLICY.RIGHT_TO_RESTRICTION' | translate"></span></li>
                    <li><span [innerHTML]="'PRIVACY_POLICY.RIGHT_TO_OBJECT' | translate"></span></li>
                    <li><span [innerHTML]="'PRIVACY_POLICY.RIGHT_TO_DATA_PORTABILITY' | translate"></span></li>
                </ul>
                <p [innerHTML]="'PRIVACY_POLICY.CONSENT_WITHDRAWAL_TEXT' | translate"></p>
                <p [innerHTML]="'PRIVACY_POLICY.COMPLAINT_AUTHORITY_TEXT' | translate"></p>
                <p><span [innerHTML]="'PRIVACY_POLICY.SUPERVISORY_AUTHORITIES_LIST_TEXT' | translate"></span>:
                    <a
                        href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.
                </p>
                <h2 [innerHTML]="'PRIVACY_POLICY.PROCESSING_ACTIVITIES_TITLE' | translate"></h2>
                <h3 [innerHTML]="'PRIVACY_POLICY.CONTACTING_US_TITLE' | translate"></h3>
                <p [innerHTML]="'PRIVACY_POLICY.PROCESSING_TYPE_PURPOSE' | translate"></p>
                <p [innerHTML]="'PRIVACY_POLICY.CONTACT_FORM_TEXT_1' | translate"></p>
                <p [innerHTML]="'PRIVACY_POLICY.CONTACT_EMAIL_TEXT_1' | translate"></p>
                <p [innerHTML]="'PRIVACY_POLICY.CONTACT_GENERAL_TEXT_1' | translate"></p>
                <h4 [innerHTML]="'PRIVACY_POLICY.LEGAL_BASIS_TITLE' | translate"></h4>
                <p [innerHTML]="'PRIVACY_POLICY.LEGAL_BASIS_TEXT_1' | translate"></p>
                <p [innerHTML]="'PRIVACY_POLICY.LEGITIMATE_INTEREST_TEXT_1' | translate"></p>
                <p [innerHTML]="'PRIVACY_POLICY.CONTRACTUAL_CONTACT_TEXT_1' | translate"></p>
                <h4 [innerHTML]="'PRIVACY_POLICY.RECIPIENTS_TITLE' | translate"></h4>
                <p [innerHTML]="'PRIVACY_POLICY.RECIPIENTS_TEXT_1' | translate"></p>
                <h4 [innerHTML]="'PRIVACY_POLICY.STORAGE_DURATION_TITLE' | translate"></h4>
                <p><span [innerHTML]="'PRIVACY_POLICY.STORAGE_DURATION_TEXT_1' | translate"></span> [Bitte Informationen
                    ergänzen] <span [innerHTML]="'PRIVACY_POLICY.STORAGE_DURATION_TEXT_2' | translate"></span></p>
                <p [innerHTML]="'PRIVACY_POLICY.CONTRACTUAL_STORAGE_TEXT_1' | translate"></p>
                <h4 [innerHTML]="'PRIVACY_POLICY.PROVISION_REQUIRED_TITLE' | translate"></h4>
                <p [innerHTML]="'PRIVACY_POLICY.PROVISION_REQUIRED_TEXT_1' | translate"></p>
                <h4 [innerHTML]="'PRIVACY_POLICY.OBJECTION_TITLE' | translate"></h4>
                <p [innerHTML]="'PRIVACY_POLICY.OBJECTION_TEXT_1' | translate"></p>
                <h2 [innerHTML]="'PRIVACY_POLICY.RIGHT_TO_OBJECT_DSGVO_TITLE' | translate"></h2>
                <h3 [innerHTML]="'PRIVACY_POLICY.INDIVIDUAL_RIGHT_TO_OBJECT_TITLE' | translate"></h3>
                <p [innerHTML]="'PRIVACY_POLICY.INDIVIDUAL_RIGHT_TO_OBJECT_TEXT_1' | translate"></p>
                <p [innerHTML]="'PRIVACY_POLICY.INDIVIDUAL_RIGHT_TO_OBJECT_TEXT_2' | translate"></p>
                <h3 [innerHTML]="'PRIVACY_POLICY.RECIPIENT_OF_OBJECTION_TITLE' | translate"></h3>
                <p class='generator_user_input'>[Bitte Informationen ergänzen]</p>
                <h2 [innerHTML]="'PRIVACY_POLICY.CHANGES_TO_POLICY_TITLE' | translate"></h2>
                <p [innerHTML]="'PRIVACY_POLICY.CHANGES_TO_POLICY_TEXT_1' | translate"></p>
                <h2 [innerHTML]="'PRIVACY_POLICY.QUESTIONS_TITLE' | translate"></h2>
                <p [innerHTML]="'PRIVACY_POLICY.QUESTIONS_TEXT_1' | translate"></p>
                <h2 [innerHTML]="'PRIVACY_POLICY.COPYRIGHT_NOTICE_TITLE' | translate"></h2>
                <p><em><span [innerHTML]="'PRIVACY_POLICY.COPYRIGHT_NOTICE_TEXT_1' | translate"></span> <a
                            href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank"
                            rel="noopener dofollow"><span
                                [innerHTML]="'PRIVACY_POLICY.COPYRIGHT_NOTICE_LINK_TEXT' | translate"></span></a>
                        (Version #2024-10-25).</em></p>
            </div>
        </div>
    </div>
</section>