@use "../../assets/styles/variables.scss" as *;
@use "../../assets/styles/mixins.scss" as *;

:host {
  color: white;
}

a {
  color: $primary-bg-green;
}

h1 {
  @include fontSizeWeightColor($si: 48px, $we: 600);
}

p,
span,
a {
  font-size: clamp(16px, 15.6px + 0.125vw, 18px);
}

strong {
  font-size: 24px;
}

section {
  padding-top: var(--header-height);
  display: flex;
  justify-content: center;
  min-height: calc(100dvh - var(--footer-height));

  @media screen and (max-width: $breakpoint-width-920) {
    padding-top: var(--header-height-responsive);
  }
}

.legal-notice-content {
  padding-block: $padding-block-50px;
  max-width: $max-width-1920;
  text-align: center;
  max-width: $max-width-700;
  width: 90%;
}
