<div class="rotate-device-overlay" [ngClass]="{ 'show-overlay': showRotateOverlay }">
    <div class="overlay-content">
        <h2 [innerHTML]="'LANDSCAPE_OVERLAY.H2' | translate"></h2>
        <div class="img-box">
            <img src="../../assets/icons/landscape-overlay/rotate-device.png"
                alt="{{'OVERLAY_LANDSCAPE.LT_TEXT_IMG_DEVICE' | translate}}">
            <img src="../../assets/icons/landscape-overlay/arrow-left-green.png"
                alt="{{'OVERLAY_LANDSCAPE.ALT_TEXT_IMG_ARROW' | translate}}">
        </div>
        <p [innerHTML]="'LANDSCAPE_OVERLAY.P' | translate"></p>
    </div>
</div>