<div class="rotate-device-overlay" [ngClass]="{ 'show-overlay': showRotateOverlay }">
    <div class="overlay-content">
        <div class="img-box">
            <!-- <img src="../../assets/icons/landscape-overlay/rotate-device.png" alt="">
            <img src="../../assets/icons/landscape-overlay/arrow-left-green.png" alt=""> -->

        </div>
        <!-- <img src="assets/images/rotate-phone.png" alt="Bitte drehen Sie Ihr Gerät" class="rotate-icon"> -->
        <h2 [innerHTML]="'LANDSCAPE_OVERLAY.H2' | translate"></h2>
        <p [innerHTML]="'LANDSCAPE_OVERLAY.P' | translate"></p>
    </div>
</div>