<div class="nav-content-box">
    <nav>
        <div class="links-header">
            <a (click)="navigateToSection('aboutMe')">{{ 'HEADER.ABOUT_ME' | translate }}</a>
            <a (click)="navigateToSection('skills')">{{ 'HEADER.SKILLS' | translate }}</a>
            <a (click)="navigateToSection('portfolio')">{{ 'HEADER.PORTFOLIO' | translate }}</a>
            <a (click)="navigateToSection('contact')">{{ 'HEADER.CONTACT' | translate}}</a>
        </div>

        <div class="language-btns">
            <button title="{{ 'HEADER.LANGUAGE_DE' | translate }}" translate="HEADER.LANG_DE"
                [ngClass]="{ 'active-button': activeLanguage === 'de' }" (click)="setLanguage('de')">
            </button>
            <button title="{{ 'HEADER.LANGUAGE_EN' | translate }}" translate="HEADER.LANG_EN"
                [ngClass]="{ 'active-button': activeLanguage === 'en' }" (click)="setLanguage('en')">
            </button>
        </div>
    </nav>
</div>