<div class="nav-content-box">
    <nav [ngClass]="{'sidenav-layout': isInSidebar}">
        <div class="links-header">
            <a href="#about_me" (click)="onClose()">{{ 'HEADER.ABOUT_ME' | translate }}</a>
            <a href="#skills" (click)="onClose()">{{ 'HEADER.SKILLS' | translate }}</a>
            <a href="#portfolio" (click)="onClose()">{{ 'HEADER.PORTFOLIO' | translate }}</a>
            <a href="#contact" [hidden]="!isInSidebar" (click)="onClose()">{{ 'HEADER.CONTACT' | translate
                }}</a>
        </div>

        <div class="language-btns">
            <button title="{{ 'HEADER.LANGUAGE_DE' | translate }}" translate="HEADER.LANG_DE"
                [ngClass]="{ 'active-button': activeLanguage === 'de' }" (click)="setLanguage('de')">

            </button>
            <button title="{{ 'HEADER.LANGUAGE_EN' | translate }}" translate="HEADER.LANG_EN"
                [ngClass]="{ 'active-button': activeLanguage === 'en' }" (click)="setLanguage('en')">
            </button>
        </div>
    </nav>
</div>