@use '../src/assets/styles/fonts.scss' as*;
@use '../src/assets/styles/variables.scss' as*;
@use '../src/assets/styles/mixins.scss' as*;

html{
  scrollbar-gutter: stable;
  background-color: $primary-bg-gray;
}

body{
  width: 100%;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

body.no-scroll {
  overflow: hidden;
}

a{
  text-decoration: unset;
}

button{
  border: unset;
  cursor: pointer;
}

@media screen and (max-width: $respons-width-920) {
  .hide-mobile{
    display: none;
  }

   .hamburger-menu {
    display: flex;
  }
 }

@media screen and (min-width: $respons-width-920) {
  .hide-desktop{
  display: none;
  }

  .hamburger-menu {
    display: none;
  }
}

::-webkit-scrollbar{
  width: 4px;      
  scrollbar-color: $primary-bg-green ;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-bg-green; 
}

::-webkit-scrollbar-track {
    background-color: $primary-bg-gray;
}















