
@import '../src/assets/styles/fonts.scss';
@import '../src/assets/styles/variables.scss';



* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

a{
  text-decoration: unset;
}

button{
  border: unset;
  cursor: pointer;
}

::-webkit-scrollbar{
  width: 4px;      
  scrollbar-color: $primary-bg-green ;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-bg-green; 
}

::-webkit-scrollbar-track {
  background-color: black; 
}












