@use "../src/assets/styles/fonts.scss" as *;
@use "../src/assets/styles/variables.scss" as *;
@use "../src/assets/styles/mixins.scss" as *;

html {
  scrollbar-gutter: stable;
  background-color: $primary-bg-gray;
  overflow-x: hidden;
}

body {
  width: 100%;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: unset;
}

button {
  border: unset;
  cursor: pointer;
}

.hide-mobile {
  display: flex;
}

.hamburger-menu {
  display: none;
}

.hide-desktop {
  display: block;
}

@media screen and (max-width: $respons-width-920) {
  .hide-mobile {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .hide-desktop {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 4px;
  scrollbar-color: $primary-bg-purple;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-bg-purple;
}

::-webkit-scrollbar-track {
  background-color: $primary-bg-gray;
}
