@use "../../assets/styles/variables.scss" as *;
@use "../../assets/styles/mixins.scss" as *;

@keyframes svgGlow {
  0%,
  20%,
  40% {
    filter: drop-shadow(0 0 3px $primary-bg-purple)
      drop-shadow(0 0 12px $primary-bg-purple);
  }
  100% {
    filter: drop-shadow(0 0 6px $primary-bg-green)
      drop-shadow(0 0 12px $primary-bg-green);
  }
}

@keyframes scrollDownGlow {
  0%,
  20%,
  40% {
    color: $primary-bg-purple;
    text-shadow: 0 0 10px $primary-bg-purple, 0 0 20px $primary-bg-purple,
      0 0 30px $primary-bg-purple;
    filter: drop-shadow(0 0 6px $primary-bg-purple);
  }
  100% {
    color: $primary-bg-green;
    text-shadow: 0 0 10px $primary-bg-green, 0 0 20px $primary-bg-green,
      0 0 30px $primary-bg-green;
    filter: drop-shadow(0 0 6px $primary-bg-green);
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
