@use "../../assets/styles/variables.scss" as *;
@use "../../assets/styles/mixins.scss" as *;

@keyframes svgGlow {
  0%,
  20%,
  40% {
    filter: drop-shadow(0 0 3px $primary-bg-purple)
      drop-shadow(0 0 12px $primary-bg-purple);
  }
  100% {
    filter: drop-shadow(0 0 6px $primary-bg-green)
      drop-shadow(0 0 12px $primary-bg-green);
  }
}

@keyframes scrollDownGlow {
  0%,
  20%,
  40% {
    color: $primary-bg-purple;
    text-shadow: 0 0 10px $primary-bg-purple, 0 0 20px $primary-bg-purple,
      0 0 30px $primary-bg-purple;
    filter: drop-shadow(0 0 6px $primary-bg-purple);
  }
  100% {
    color: $primary-bg-green;
    text-shadow: 0 0 10px $primary-bg-green, 0 0 20px $primary-bg-green,
      0 0 30px $primary-bg-green;
    filter: drop-shadow(0 0 6px $primary-bg-green);
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes h1VectorBoxContact {
  0%,
  20%,
  30% {
    transform: translate(-50%, 0);

    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.75;
  }
  100% {
    transform: translate(0, 0);

    opacity: 1;
  }
}

@keyframes leftTextBox {
  0%,
  20%,
  30% {
    transform: translate(0, 30px);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.75;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes h1VectorBox {
  0%,
  20%,
  30% {
    transform: translate(50%, 0);

    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.75;
  }
  100% {
    transform: translate(0, 0);

    opacity: 1;
  }
}

@keyframes form {
  0%,
  20%,
  30% {
    transform: translate(50%, 0);

    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.75;
  }
  100% {
    transform: translate(0, 0);

    opacity: 1;
  }
}

@keyframes headlineBoxP {
  0%,
  20%,
  30% {
    transform: translate(0, 30px);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.75;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes scaleInFromCenter {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.7;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: var(--animation-start-transform);
  }
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }

  40% {
    opacity: 0.2;
  }

  60% {
    opacity: 0.3;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }

  40% {
    opacity: 0.2;
  }

  60% {
    opacity: 0.3;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
