@use "../styles/variables.scss" as *;

@mixin dFlexAllCenter($ai: center, $jc: center, $g: 0) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  gap: $g;
}

@mixin headerLinkLogoStyle() {
  width: 105px;
  height: auto;
  display: grid;
  place-items: center;

  > a {
    height: 100%;
    width: 100%;

    > img {
      width: 100%;
      height: 100%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: $breakpoint-width-920) {
    width: 80px;
  }
}

@mixin paddingLeftRightHolePage() {
  padding-inline: $padding-inline-25-100;
}

@mixin fontSizeWeightColor($si: 23px, $we: 400, $co: white) {
  font-size: $si;
  font-weight: $we;
  color: $co;
}

@mixin aboutMeAnimation($slideDirection: "", $transformStart: "") {
  opacity: 0;
  transform: $transformStart;
  animation: $slideDirection var(--animation-time-about-me) ease-out forwards;
  animation-delay: var(--animation-delay-about-me);
}
