@use "../styles/variables.scss" as *;

@mixin dFlexAllCenter($ai: center, $jc: center, $g: 0) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  gap: $g;
}

@mixin headerLinkLogoStyle() {
  width: 105px;
  height: auto;
  display: grid;
  place-items: center;

  > a {
    height: 100%;
    width: 100%;

    > img {
      width: 100%;
      height: 100%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: $breakpoint-width-920) {
    width: 80px;
  }
}

@mixin paddingLeftRightHolePage() {
  padding-inline: $padding-inline-25-100;
}

@mixin fontSizeWeightColor($si: 23px, $we: 400, $co: white) {
  font-size: $si;
  font-weight: $we;
  color: $co;
}

@mixin aboutMeAnimation($slideDirection: "", $transformStart: "") {
  opacity: 0;
  transform: $transformStart;
  animation: $slideDirection var(--animation-time-about-me) ease-out forwards;
  animation-delay: var(--animation-delay-about-me);
}

@mixin commonSectionStyles() {
  height: calc(100dvh - var(--header-height));
  width: 100%;
  background-color: var(--primary-bg-gray);
  @include dFlexAllCenter();

  @media screen and (max-width: $breakpoint-width-920) {
    padding-block: 50px;
    height: unset;
    padding-top: var(--header-height-responsive);
  }

  @media screen and (max-height: $responsive-height-814) {
    height: calc(100dvh - var(--header-height-responsive));
  }

  @media screen and (max-height: $responsive-height-814) and (max-width: $breakpoint-width-920) {
    height: unset;
  }
}

@mixin commonContentStyle() {
  max-width: $max-width-1920;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: clip;
  @include dFlexAllCenter($jc: space-between);
}
