//all colors
$primary-bg-gray: #141D2F;
$primary-bg-green:#70E61C;
$primary-bg-purple:#9747FF;
$primary-bg-turquoise:#1CDAE6;
$not-valide-red: #E61C40;
$send-message-btn-gray: #00000040;
$white: #FFFFFF;
$btn-transparent: #00000000;
$side-nav-bg: #414856;

//padding
$padding-inline-25-100: clamp(25px, 10px + 4.6875vw, 100px);
$padding-block-50px: 50px;

//header-hight
$header-hight: 110px;

//font-sizes
$font-size-23: 23px;

//width
$max-width-1920: 1920px;
$max-width-700: 700px;

//responsive max-width
$respons-width-920: 920px;