
@use '../../../assets/styles/variables.scss' as*;
@use '../../../assets/styles/mixins.scss' as*;

section{
  @include dFlexAllCenter($jc: space-between,$g: 32px);

  > a {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    width: 30px;
    aspect-ratio: 1/1;
    transform-origin: left center;

    &:hover {
        transform: scale(1.4);
    }

    > img{
        width: 100%;
        display: block;
    }
  }
}