<section>
    <a target="_blank" href="https://github.com/JoergBechtold ">
        <img title="Github" src="../../../assets/icons/social-buttons-icons/GITHUB-icon.svg" alt="Icon-Github">
    </a>

    <a target="_blank" href="mailto:dev@joergbechtold.com">
        <img title="Email" src="../../../assets/icons/social-buttons-icons/EMAIL-icon.svg" alt="Icon-Email">
    </a>

    <a target="_blank" href="https://www.linkedin.com/in/joerg-bechtold86">
        <img title="Linkedin" src="../../../assets/icons/social-buttons-icons/LINKEDIN-icon.svg" alt="Icon-Linkedin">
    </a>
</section>