<section>
    <div class="footer-content">
        <div class="footer-icon-box">
            <a title="{{ 'HEADER.TITLE_IMG' | translate }}" href="index.html">
                <img src="../../../assets/img/HEADER-Name.png" alt="{{ 'ALT_TEXTS.FOOTER_IMG' | translate }}">
            </a>
            <a class="animationLink link-desktop" [routerLink]="getRouterLink('legalNotice')"
                [innerHTML]="'LINK.LEGAL_NOTICE' | translate"></a>
        </div>
        <p>&copy; Jörg Bechtold 2025</p>
        <app-social-media></app-social-media>
        <a class="animationLink link-mobile" [routerLink]="getRouterLink('legalNotice')"
            [innerHTML]="'LINK.LEGAL_NOTICE' | translate"></a>
    </div>
</section>