@use '../../../../../assets/styles/variables.scss' as*;
@use '../../../../../assets/styles/mixins.scss' as*;

:host {
    position: fixed;
    top: $header-hight;
    right: 0;
    width: 350px; 
    height: calc(100% - #{$header-hight}); 
    background-color: $side-nav-bg; 
    z-index: 9;
    transform: translateX(100%); 
    transition: transform 0.3s ease-in-out; 
    @include dFlexAllCenter();
    flex-direction: column; 
  
    &.open {
        transform: translateX(0); 
    }
}

