@use '../../../../../assets/styles/variables.scss' as*;
@use '../../../../../assets/styles/mixins.scss' as*;

:host {
    position: fixed;
    top: $header-hight;
    right: 0;
    width: 350px; 
    height: calc(100% - #{$header-hight}); 
    background-color: rgb(20 29 47 / 97%); 
    z-index: 9;
    transform: translateX(100%); 
    transition: transform 0.3s ease-in-out; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding-top: 20px;

    &.open {
        transform: translateX(0); 
    }
}

.test{
    display: flex;
    flex-direction: column;
}