<section>
    <div class="atf-content">
        <app-contact-nav-atf></app-contact-nav-atf>

        <div [ngStyle]="{
            'right':activeLanguage === 'de' ? '31px' : '80px',
            'bottom':activeLanguage === 'de' ? '159px' : '110px',
        }" class="scroll-down-box">
            <p>{{ 'ATF.SCROLL_DOWN' | translate }}</p>
            <img src="../../assets/icons/general-icons/ARROW-DOWN-WHITE.svg"
                alt="{{ 'ALT_TEXTS.MAIN_SECTION_GRAY' | translate }}">
        </div>

        <div class="main-bg-img">
            <img src="../../assets/img/background/PHOTO-SHADOWS.svg" alt="Profile Picture Background">
            <img src="../../assets/img/background/HERO-BACKGROUND.svg" alt="">
            <img src="../../assets/img/profile-pictures/placeholder-img.png" alt="">
        </div>

        <main>
            <div class="main-content">
                <div class="intro-text">
                    <span [ngStyle]="{
                        'font-size': activeLanguage === 'de' ? '50px' : '70px',
                        'left':activeLanguage === 'en' ? '7px' : '0px',
                        'transform': activeLanguage === 'de' ? 'rotate(-90deg) translateX(-52%)' : 'rotate(-90deg) translateX(-50%)'
                    }" class="vertical-text">{{
                        'ATF.I_AM' | translate }}</span>
                    <h1>Jörg Bechtold</h1>
                    <h2>FRONTEND DEVELOPER</h2>
                </div>
                <button class="call-to-action-button">{{ 'ATF.LETS_TALK' | translate }}</button>
            </div>
        </main>
    </div>
</section>