@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

section{
  height: 100dvh;
  width: 100%;
  background-color: $primary-bg-gray;
  padding-top: $header-hight;
  position: relative;
  background-image: url(../../assets/img/background/HERO-BACKGROUND.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 230px;
  
}

main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -70%);

 
}

.main-content{
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 40px; 
    text-align: left; 
    max-width: 900px;
    width: 100%;
    z-index: 2;
    position: relative; 

    > button{
      border-radius: 10px;
      padding: 15px 30px 15px 30px;
      background-color: $primary-bg-green;
      font-size: 23px;
      font-weight: 400;
      color: white;
      transition: all 0.2s ease-in-out;
      transform-origin: top center;


       &:hover{
        background-color: $primary-bg-purple;
        transform: scale(1.2);


       }
    }
}

.intro-text{
   display: flex;
   align-items: center;
   position: relative; 
   flex-direction: column; 

   > h1{
    @include fontSizeWeightColor($si: 90px, $we:700);
   }

   > h2{
    @include fontSizeWeightColor($si: 58px, $we:400, $co:$primary-bg-purple);
   }
}

.vertical-text {
    color: $white;
    font-size: 90px;
    white-space: nowrap; 
    transform: rotate(-90deg) translateX(-50%);
    transform-origin: bottom left;
    position: absolute;
    left: 0px; 
    bottom: 50%;
}

.scroll-down-box {
  position: absolute;
  bottom: 110px;
  right: 80px;
  @include dFlexAllCenter($jc: space-between, $g: 3px);
  transform: rotate(90deg);
  
  > p {
    @include fontSizeWeightColor();
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;  
  }

  > img {
    width: 16px;
    aspect-ratio: 1/1;
    transform: rotate(-90deg) translateX(-1px);
  }
}
