<section>
    <app-contact-nav-atf></app-contact-nav-atf>

    <div class="scroll-down-box">
        <p>Scroll down</p>
        <img src="../../../assets/icons/general-icons/ARROW-DOWN-WHITE.svg" alt="">
    </div>

    <main>
        <div class="main-content">
            <div class="intro-text">
                <span class="vertical-text">I am</span>
                <h1>Jörg Bechtold</h1>
                <h2>FRONTEND DEVELOPER</h2>
            </div>
            <button class="call-to-action-button">Let's talk!</button>
        </div>
    </main>
</section>