<section>
    <div class="atf-content">
        <app-contact-nav-atf></app-contact-nav-atf>

        <div class="scroll-down-box">
            <p>Scroll down</p>
            <img src="../../assets/icons/general-icons/ARROW-DOWN-WHITE.svg" alt="Main Section Gray">
        </div>

        <div class="main-bg-img">
            <img src="../../assets/img/background/PHOTO-SHADOWS.svg" alt="Profile Picture Background">
            <img src="../../assets/img/background/HERO-BACKGROUND.svg" alt="">
            <img src="../../assets/img/profile-pictures/placeholder-img.png" alt="">
        </div>

        <main>
            <div class="main-content">
                <div class="intro-text">
                    <span class="vertical-text">I am</span>
                    <h1>Jörg Bechtold</h1>
                    <h2>FRONTEND DEVELOPER</h2>
                </div>
                <button class="call-to-action-button">Let's talk!</button>
            </div>
        </main>
    </div>
</section>